.container-celda{
    background-color: burlywood;
    width: 50%;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    border-radius: 20px;
    display: flex ;
flex-direction: column;
align-content: center;
justify-content: space-between;

    >h1 {
        color:beige;
        font-size: 40px;
    }
&__button{
    display: flex;
    justify-content: space-between;

    >button {
        padding: 4px 4px 4px 4px;
        background-color: aliceblue(220,220,236);
        color: darkslategray;
    }
}
}